.banner__container {
    position: relative;
    width: 100%;
}

.banner {
    height: 200px;
    width: 100%;
}

.tienda__moving {
    position: absolute;
    top: 17%;
    left: 100%;
    transform: translate(-100%, -100%);
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-900%);
    }
  }

.shopping__line {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.tshirt__back {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: #000;
}

.price {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.line__2,
.line__4 {
    margin-top: 15rem;
}

.line__5 {
    margin-bottom: 3rem;
}